@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

html{
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}

:root {
  --bg-dark: #232227; /* #444 */
  --bg-light: #F5F7FF;
  --primary: #4b49ac; /* #696a9d; */
  --primary-light: rgba(75, 73, 172, 0.6);
  --grey-400: #76838f;
  --grey-300: #ccc;
  --secondary: #a3a4a5;
  --success: #57b657;
  --warning: #ffc100;
  --danger: #ff4747;
  --info: #248afd;
  --dark: #282f3a;
  --black: #212529;
  --blue: #0d6efd; /* #587299; */
  --border-focus: #86b7fe;
  --border: #ced4da;

  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;

  --fw-light: 400;
  --fw-medium: 500;
  --fw-bold: 600;

  --transition-1: 0.2s;
  --transition-2: 0.5s;
}
::-webkit-scrollbar{
  background-color: white;
  width: 10px;

}

::-webkit-scrollbar-thumb{
  background-color: var(--secondary);
}

body {
  font-family: 'Nunito Sans', sans-serif !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: var(--fw-medium);
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* -------------- Start Table Style  ------------------ */

/* .table {
  --bs-table-bg: #ffff;
} */

.head th {
  padding: 0.875rem 0.5rem;
  vertical-align: middle;
  background-color: var(--blue) !important;
}

td {
  vertical-align: middle;
  background-color: #fff !important;
}


.actions-th {
  width: 20%;
}

.actions-td button {
  border-radius: 30px !important;
  padding: 3px 10px;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--bg-light);
  border: 1px solid transparent;
  font-size: var(--fs-14);
}

.actions-td button:first-child:hover {
  border: 1px solid var(--blue);
}
.actions-td button:nth-child(2):hover {
  border: 1px solid var(--blue);
}
.actions-td button:last-child:hover {
  border: 1px solid var(--danger);
}

th:first-of-type {
  border-top-left-radius: 5px;
  /* border: none !important; */
}
th:last-of-type {
  border-top-right-radius: 5px;
  /* border: none !important; */
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 5px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 5px;
}

/* -------------- End Table Style  ------------------ */


/* -------------- Start Pagination Style  ------------------ */
.pagination {
  --bs-pagination-color: var(--blue) !important;
  --bs-pagination-active-bg: var(--blue) !important;
  --bs-pagination-active-border-color: var(--blue) !important;
  --bs-pagination-focus-color: var(--blue) !important;
  --bs-pagination-hover-color: var(--blue) !important;
}
/* -------------- End Pagination Style  ------------------ */


/* --------------  Start Forms Styles --------------------- */
form .form-control {
  margin-bottom: 0 !important;
}

form .form-input {
  margin-bottom: 0.6rem !important;
}

form .form-input .input-error {
  display: block;
  margin-top: 0.2rem !important;
}

/* --------------  End Forms Styles --------------------- */

/* --------------- Start Spinner Style ------------------- */
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(100%, -50%);
}
/* --------------- End Spinner Style ------------------- */