.search-input {
  position: relative;
}

.search-input svg {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.search-input input {
  padding-left: 2.5rem !important;
  outline: none;
}

.search-input .list-group {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
}

.transaction-inputs form {
  width: 100%;
  padding: 0;
}

.transaction-details .search-input {
  margin-bottom: 2rem;
}

@media print {
  .sidebar, header, .controls {
    display: none !important;
  }

  tr {
    border-bottom: 1px solid var(--border);
  }
}

/* @media print {
  .sidebar, header, button, a  {
    display: none !important;
  }
/* 
  tr {
    border-bottom: 1px solid var(--border);
  }

  .table {
    page-break-after: auto !important;
  }

  .table tr {
    page-break-inside: avoid !important;
    page-break-after: auto !important;
  }

  thead {
    display: table-header-group !important;
  }
  tfoot {
    display: table-footer-group !important;
  }  */
  
/* }  */

.edit-btn:hover svg  {
  color: white;
}
.print-table thead th {
  background-color: var(--dark);
}

