.auth-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    width: 730px;
    height: 440px;
    background-color: white;
    border-radius: 43px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.auth-page .icon{
    width: 50px;
    height: 50px;
}

.auth-page .button{
    background-color: #6571FF;
    color: white;
    height: 40px;
    width: 80%;
    font-size: 16px;
    border-radius: 8px;
}

.input-container{
    width: 80%;
}

.input-label{
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 16px;
    
}

.input-label::after{
    content: "*";
    color: red;
    font-weight: bolder;
}

.user-name{
    padding: 12px 3%;
    width: 100%;
    border: 1px solid #A1AEB7;
    border-radius: 8px;
}

.error {
    color: #bf1650;
    align-self: flex-start;
    margin-left: 10%;
  }
  
.error::before {
    display: inline;
    content: "⚠ ";
}