.auth-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    max-width: 100%;
    padding: 50px;
}

.form-container form {
    width: 100%;
}

.form-title {
    align-self: flex-start;
    margin-bottom: 2rem;
    color: var(--primary);
    font-size: 28px;
    font-weight: 600;
}

.form-title img {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
}

.input-container {
    margin-bottom: 1.5rem;
}

.input-container input {
    outline: none;
    border-radius: 5px;
    margin-bottom: 0px;
}

.auth-page .icon{
    width: 50px;
    height: 50px;
}

.auth-page .button{
    display: block;
    background-color: #6571FF;
    color: white;
    height: 40px;
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
}

.login-btn {
    width: 100%;
    height: 48px;
}


.input-label{
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 16px;
        margin-bottom:0.4rem;
}

.input-label::after{
    content: "*";
    color: red;
    font-weight: bolder;
}

.user-name{
    padding: 12px 3%;
    width: 100%;
    border: 1px solid #A1AEB7;
    border-radius: 8px;
}

.error {
    color: #bf1650;
    align-self: flex-start;
    margin-left: 5px;
  }
  
.error::before {
    display: inline;
    content: "⚠ ";
}



/* ---------------- Start Login Container -------------------- */
.login-container{
    min-height: 100vh !important;
  }
  
  .about-link {
    background-color: var(--primary);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
  
  .about-link a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    display: block;
  }
  /* ---------------- End Login Container -------------------- */