
/* ------------- Start Sidebar Style ------------------ */
.sidebar{
  height: 100vh;
  width: 200px;
  transition: all var(--transition-1);
  z-index: 2;
}


.sidebar-top{
  height: 4.375rem;
}

.logo{
  font-size: 1.875rem;
}

.logo img {
  width: 2.5rem;
  display: block;
}

.bars{
  font-size: 1.5rem;
}

.nav .link{
  transition: all var(--transition-1);
  text-decoration: none;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  position: relative;
}

.nav .link:hover,
.nav .link.active{
  background: var(--primary);
  color: #fff;
}

.icon, .link-text{
  font-size: 1rem;
}

.icon svg {
  stroke: #fff !important;
}

.navbar-text {
  padding: 0.25rem 0;
}
/* ------------- End Sidebar Style ------------- */

/* ------------- Start Header Styles --------------- */

.header-content{
  border-bottom: 1px solid var(--border);
}

.dp-toggle, .dropdown {
  transition: 0.4s;
}

.dp-toggle:hover,
.dropdown.show .dp-toggle{
  background-color: var(--border) !important;
}

.username {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--border);
}

.breadcrumb li,
.breadcrumb li a {
  text-decoration: none !important;
  font-size: var(--fs-18);
  font-weight: var(--fw-bold);
}

/* ------------- End Header Styles --------------- */


/* ------------- Start Page body Styles --------------- */

.page-body {
  padding: 2rem 2rem; 
  height: calc(100vh - 4rem);
  overflow-y: auto;
  /* height: fit-content; */
} 

