.card-text .col:nth-child(2){
  text-align: end;
}

.card-body {
  padding: 0;
}

.card-body .card-text .list-group{
  border-radius: 0;
  border: none !important;
}

.card-body .card-text .list-group li{
  border-width: 0 0 1px 0 !important;
}

.card-body .card-text .list-group li:last-child{
  border-bottom:0 !important;
}

.quantity-content input {
  border-radius: 0;
}

.quantity-content button:first-child {
  border-radius: 5px 0 0 5px;
}

.quantity-content button:last-child {
  border-radius: 0 5px 5px 0;
}

.quantity-input {
  width: 3.4rem;
  text-align: center;
}

.pos-container .actions-td {
  padding: 0 !important;
}
.pos-container .actions-td button {
  width: 50px !important;
}